body {
 width: 375px;
 margin: 20px auto;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
}
h1 {
  font-family: "Comic Sans MS", Georgia, serif;
  color: rgb(15, 82, 29); 
}
a {
  color: rgb(38, 186, 77);
  text-decoration: none;
}